<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Movies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActiveItem === 'item1'}" (click)="setActiveItem('item1'); Home()">Todas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActiveItem === 'item2'}" (click)="setActiveItem('item2'); populares()">Populares</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActiveItem === 'item3'}" (click)="setActiveItem('item3')">Recientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActiveItem === 'item4'}" (click)="setActiveItem('item4'); Agregar()">Agregar</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Pelicula" (keyup)="buscar($event)">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      <div>
        <button class="btn btn-outline-danger ms-2">
          Cerrar sesion
        </button>
      </div>
    </div>
  </div>
</nav>
